
body {
    color: #fff;
    background: rgb(21,52,72);
background: linear-gradient(rgba(21,52,72,1) 31%, rgba(0,45,98,1) 52%, rgba(44,78,128,1) 78%);
}

header {
    /* background-color: rgba(0, 0, 0, 0.2);    */
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

#logo {
    cursor: pointer;
    transition: 0.5s ease;
}
#logo:hover {
    transform: scale(1.1);
}

#h-list {
    display: flex;
    flex-direction: row;
}

.h-item {
    margin: 0px 5px;
    padding: 4px;
    transition: 0.3s ease;
}

.h-item:hover {
    background: #3C5B6F;
    color: #fff;
    transform: scale(1.1);
}

#showcase {
    border: solid;
    height: 100vh;
}

#greet {
    font-size: 4rem;
    position:absolute;
    top: 50%;
    left: 10%;
}

#moto {
    font-size: 2rem;
    position:absolute;
    top: 63%;
    left: 10%;
}